body {
    background-color: rgb(16, 113, 170);
    text-align: center;
}

img {
	pointer-events: none;
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 70%;
    }